<%= form_with model: player do |form| %>
	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
		<%= form.label :email %>
		<%= form.text_field :email %>
		<%= form.label :phone %>
		<%= form.text_field :phone %>
	</div>

	<div>
		<%=form.label :team_id, "Team" %>
		<%=form.collection_select :team_id, Team.all, :id, :name,
			{ prompt: "Select a team" },
			{ class: "form-control" } %>
	<div>
		<%= form.submit %>
	</div>
<% end %>