<h1>Players</h1>

<%= link_to "New Player", new_player_path %>

<div id="players">
	<% @players.each do |player| %>
	<div>
		<%= link_to player.name, player %>
		<%= button_to "Send SMS", send_notification_player_path(player), method: :post, class: "btn btn-primary" %>
	</div>
	<% end %>
</div>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
			<tr>
				<td><%= player.name %></td>
				<td><%= player.team&.name || "No team assigned" %></td>
				<td><%= link_to "Show", player %></td>
			</tr>
		<% end %>
	</tbody>
</table>